* {
	transition: all .1s ease-in;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        font-family: 'Roboto', sans-serif;
	        text-decoration: none;
	    }
	html, body{
	width: 100%;
	height: 2630px;
}
div {
	display: block;
}
.ba-header {
  width: 100%;
  height: 100vh;
  background: url(../img/Main-back.png) no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.list {
  width: 48%;
  display: flex;
  color: white;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight:
  line-height: 25.0px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none

   }
.nav {
	display: flex;
	top: 10px;
	justify-content: center;
	align-items: center;
}
  a {
  	color: #fff;
  }

 

 .lider {
 	position: relative;
	width: 1214px;
	height: 576px;
	top: 105px;
 }
 .nav6 {

      -webkit-border-radius: 50%;
    border-radius: 50%;
    border-radius: 18px;
    box-shadow: 0 0 7.7px 0.3px rgba(0, 0, 0, 0.06);
    border: solid 2px #ffffff;
 }
 .header-info {
 	 color: #262626;
  width: 40%;
  height: 80%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center; }
 }
.container .start {
	padding-top: 50px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.header-info__button {
	text-transform: uppercase;
    border-radius: 25px;
outline: none;
    font-size: 26px;
	width: 180px;
   height: 60px;
background-color: #fff;
  border: none;
   margin-right: 20px;
}

.header-info__buttonn{
	text-transform: uppercase;
    border-radius: 25px;
outline: none;
    font-size: 26px;
	width: 300px;
   height: 60px;
  border: none;
   margin-right: 20px;
   opacity: 0.1;
}
.start-container {
	    display: flex;
    justify-content: space-around;
}
.logo-cont {
	margin-right: 300px;
}
.slidertext {
	text-transform: uppercase; 
	font-size: 80px;
	font-weight: lighter;
	color: white;
	margin: 0;
}
.slidertext1{
	width: 84%;
    font-size: 16px;
    line-height: 27.0px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 93px;

}
.smalltext {
	font-size: 16px;
    text-align: left;
    color: #ffffff;
    opacity: 0.6;
    margin: 0;
    text-transform: uppercase;
}